.container {
  height: 2rem;
  display: flex;
  line-height: 2rem;
}

.checkmarkOuter {
  width: 2rem;
  position: relative;
  cursor: pointer;
  padding: 0.625rem;
}

.checkmark {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  border: 1px solid var(--main-neutral-color);
  border-radius: 50%;
}

.label {
  padding-left: 2rem;
  cursor: pointer;
}

.checkmarkSelectedRed {
  position: relative;
  background-color: var(--main-red-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  border: 1px solid var(--main-red-color);
  border-radius: 50%;
}

.checkmarkSelectedBlue {
  position: relative;
  background-color: var(--main-blue-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  border: 1px solid var(--main-blue-color);
  border-radius: 50%;
}

.checkmarkSelectedYellow {
  position: relative;
  background-color: var(--main-yellow-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  border: 1px solid var(--main-yellow-color);
  border-radius: 50%;
}

.checkmarkSelectedCyan {
  position: relative;
  background-color: var(--main-cyan-color);
  width: 0.75rem;
  height: 0.75rem;
  cursor: pointer;
  border: 1px solid var(--main-cyan-color);
  border-radius: 50%;
}
